$orange: #de653f;
$dark-white: #f7f7f7;
$gray: #c2c2ca;
$blue: #2a81ac;

.formContainer {
  background-color: $orange;
  padding: 30px;
  border-radius: 20px;
  box-shadow: 3px 3px 12px $gray;
  margin-top: 3em;
  width: 90%;
  max-width: 500px;
  margin: auto;
}

.formContainer fieldset {
  display: flex;
  flex-direction: column;
  border: none;
}

.formError {
  background-color: #eeb29f;
  color: darkred;
  padding: 20px;
  border: 1px solid darkred;
  text-align: center;
}

.formContainer h1 {
  color: $dark-white;
  text-align: center;
}

.formContainer form {
  display: flex;
  flex-direction: column;
}

.formContainer label {
  color: $dark-white;
}

.formContainer input,
.formContainer textarea {
  background-color: #eeb29f;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

.button {
  background-color: $dark-white;
  border: $orange;
  width: fit-content;
  padding: 1em 2em;
  border-radius: 1em;
  margin: 1em auto;
  text-transform: uppercase;
}

.dashboard {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}

.dashboard a {
  border: #de653f solid 1px;
  padding: 20px;
  margin: 20px;
}

.dashboardList {
  padding: 20px;
  background-color: $blue;
  border-radius: 1em;
  margin: 2em;
  box-shadow: 3px 3px 12px $gray;
  transition: transform 0.2s;
  max-width: 500px;
}

.dashboardList:hover {
  transform: scale(1.02);
}

.dashboard h3 {
  color: $dark-white;
  text-align: center;
}

.comment {
  margin: 2em;
  list-style: none;
  background-color: $dark-white;
  padding: 1em;
  border-radius: 1em;
}
