$orange: #de653f;
$dark-white: #f7f7f7;
$gray: #c2c2ca;
$blue: #2a81ac;

.dashboard {
  width: 90%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
}

.dashboard a {
  border: #de653f solid 1px;
  padding: 20px;
  margin: 20px;
}

.dashboardList {
  padding: 20px;
  background-color: $blue;
  border-radius: 1em;
  margin: 2em;
  box-shadow: 3px 3px 12px $gray;
  transition: transform 0.2s;
  max-width: 500px;
}

.dashboardList:hover {
  transform: scale(1.02);
}

.dashboard h3 {
  color: $dark-white;
  text-align: center;
}

.comment {
  margin: 2em;
  list-style: none;
  background-color: $dark-white;
  padding: 1em;
  border-radius: 1em;
}
