$orange: #de653f;
$dark-white: #f7f7f7;
$gray: #c2c2ca;
$blue: #2a81ac;
$light-blue: #95c0d5;

.contact {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  height: 90vh;
}

.error {
  color: red;
  background-color: #eeb29f;
  margin-top: -8px;
  border-radius: 0 0 5px 5px;
  padding: 3px;
  border-top: $orange 0.5px solid;
}

.formContainer {
  padding: 30px;
  border-radius: 20px;
  margin-top: 3em;
  transition: transform 0.2s;
}

.formContainer:hover {
  transform: scale(1.02);
}

.formContainer h1 {
  color: $dark-white;
}

.formContainer form,
.formContainer fieldset {
  display: flex;
  flex-direction: column;
}

.formContainer label {
  color: $dark-white;
}

.formContainer input,
.formContainer textarea {
  background-color: #eeb29f;
  border: none;
  border-radius: 5px;
  margin-bottom: 5px;
  padding: 10px;
}

.button {
  background-color: $dark-white;
  border: $orange;
  width: fit-content;
  padding: 1em 2em;
  border-radius: 1em;
  margin: 1em auto;
  text-transform: uppercase;
}

//contact form
.contactForm {
  background-color: $orange;
  border-radius: 20px;
  box-shadow: 3px 3px 12px $gray;
}

//Enquiry form
.enquiryForm {
  background-color: $blue;
  border-radius: 20px;
  width: 50%;
  margin: auto;
  box-shadow: 3px 3px 12px $gray;
}

.enquiryForm input {
  background-color: $light-blue;
}

//dashboard form
.dashboardForm {
  background-color: $blue;
  border-radius: 1em;
  box-shadow: 3px 3px 12px $gray;
  margin: 1em;
}

.dashboardForm input,
.dashboardForm textarea {
  background-color: $light-blue;
}

.dashboardForm fieldset {
  border: none;
}
