$black: #1a1917;
$white: #ffffff;
$dark-white: #f7f7f7;
$gray: #c2c2ca;
$blue: #2a81ac;
$orange: #de653f;

.light,
.dark,
.noUnderline {
  position: relative;
  height: 50px;
}

.light {
  background-color: $white;
  border-bottom: solid 1px $gray;
}

.dark {
  background-color: $black;
  color: $dark-white;
}

.noUnderline {
  background-color: $white;
}

.logo {
  margin: 12px;
  float: left;
}

.nav ul {
  list-style: none;
}

.dark .nav a {
  color: $dark-white;
}

.dark .nav a:hover {
  color: $gray;
}

.nav {
  display: none;
  position: relative;
}

.nav ul {
  margin: 0;
  background-color: $white;
  position: absolute;
  z-index: 10;
  width: 100%;
  top: 50px;
  border-bottom: $orange solid 1px;
}

.dark .nav ul {
  background-color: $black;
}

.nav ul li {
  padding: 10px;
}

.dark .nav ul li a {
  color: $dark-white;
}

.nav ul li:active {
  background-color: $orange;
}

.burger:hover,
.adminNav:hover {
  cursor: pointer;
}

.nav a {
  color: $black;
  padding: 10px;
  margin: 10px;
}

.nav a:hover {
  color: $blue;
}

.burger {
  float: right;
  padding: 5px;
  margin: 5px;
  display: block;
}

.burgerLine {
  display: block;
  width: 20px;
  height: 1.5px;
  margin: 5px;
  background-color: $orange;
}

@media only screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .nav ul {
    align-items: center;
    display: flex;
    height: 100%;
    top: unset;
    position: unset;
    width: unset;
    background-color: unset;
    border-bottom: unset;
  }

  .nav ul li a {
    color: unset;
  }

  .nav ul li:active {
    background-color: unset;
  }

  .adminNav {
    position: absolute;
    right: 10px;
    display: flex;
  }
}
