$black: #1a1917;
$white: #ffffff;
$dark-white: #f7f7f7;
$gray: #c2c2ca;
$blue: #2a81ac;
$orange: #de653f;

.light {
  background-color: $white;
  border-bottom: solid 1px $gray;
}

.dark {
  background-color: $black;
  color: $dark-white;
}

.noUnderline {
  background-color: $white;
}

.dark .nav a {
  color: $dark-white;
}

.dark .nav a:hover {
  color: $gray;
}

.nav {
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
}

.adminNav {
  position: absolute;
  right: 10px;
}

.adminNav:hover {
  cursor: pointer;
}

.nav a {
  color: $black;
  padding: 10px;
  margin: 10px;
}

.nav a:hover {
  color: $blue;
}
