$orange: #de653f;
$light-orange: #e48364;
$dark-white: #f7f7f7;
$gray: #c2c2ca;
$black: #1a1917;

.home {
  color: $dark-white;
}

.home h1,
.home h2,
.home h3 {
  font-size: 40px;
  margin: 0;
}

.home p {
  margin-top: 0;
  font-size: 20px;
}

.banner {
  width: 100%;
  background-size: cover;
  background-image: url("../../public/spurwing-agency-sFjY4AWDYUI-unsplash.jpg");
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  max-height: 900px;
  position: relative;
  border-bottom: solid 10em $black;
}

.heading {
  position: absolute;
  bottom: 30px;
  text-align: center;
  width: 95%;
}

//searchbar
.searchContainer {
  background-color: $orange;
  width: 95%;
  height: 100px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: -4em;
}

.searchBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.searchBar input {
  width: 100%;
  height: 70px;
  background-color: $light-orange;
  border: none;
  border-radius: 20px;
  color: white;
  z-index: 3;
}

.searchResults {
  display: flex;
  flex-direction: column;
  width: 85%;
  position: absolute;
  z-index: 2;
  top: 85px;
  background-color: $light-orange;
  box-shadow: 0px 12px 50px black;
  border: 0.5px solid $orange;
}

.searchResults li {
  padding: 10px;
  list-style: none;
  color: white;
}

.searchResults li a {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.searchResults li:hover {
  background-color: $orange;
}

.searchBarImg {
  width: 100px;
  height: 80px;
  background-size: cover;
  margin-right: 1em;
}

//second section
.establishments {
  background-image: url("../../public/ducminh-nguyen-A89q-EFB9X4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 95%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  margin: 3em auto;
  justify-content: center;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 3px 3px 12px $gray;
  max-width: 1200px;
  max-height: 400px;
  background-position: center;
}

.establishments a {
  background-color: $dark-white;
  color: $black;
  padding: 20px;
  width: fit-content;
  border-radius: 1em;
  font-size: 20px;
  text-align: center;
}

//third section
.contact {
  position: relative;
  width: 95%;
  display: block;
  margin: auto;
  max-width: 1200px;
  min-height: 440px;
}

.contactText {
  background-color: $orange;
  padding: 2em 3em 4em 2em;
  width: 85%;
  border-radius: 20px;
  box-shadow: 3px 3px 12px $gray;
}

.contactImage {
  background-image: url("../../public/pexels-samson-katt-5255645.jpg");
  width: 200px;
  height: 200px;
  background-size: cover;
  border-radius: 20px;
  box-shadow: 3px 3px 12px $gray;
  max-width: 400px;
  position: absolute;
  right: 5px;
  bottom: 0px;
  display: block;
}

.contact a {
  border-bottom: 1px solid $dark-white;
  width: 210px;
  display: block;
}

@media only screen and (min-width: 400px) {
  .contactImage {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .home h1,
  .home h2,
  .home h3 {
    font-size: 60px;
    margin: 0;
  }

  .home p {
    margin-top: 0;
    font-size: 20px;
  }

  //first section
  .banner {
    height: 100vh;
    max-height: 900px;
    flex-direction: column;
  }

  .searchContainer {
    width: 76%;
    height: 100px;
    border-radius: 30px;
    margin: 100px;
  }

  .heading {
    width: unset;
  }

  //establishments section
  .establishments {
    width: 90%;
    height: 80vh;
    padding: 3em;
    max-height: 700px;
  }

  //contact section
  .contact {
    position: relative;
    width: 90%;
    height: 500px;
    max-height: 700px;
  }

  .contactText {
    position: absolute;
    top: 0;
    left: 0;
    padding: 5em;
    width: 85%;
  }

  .contactImage {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 1300px) {
  .contactImage {
    height: 400px;
    width: 400px;
  }
}
