$orange: #de653f;
$light-orange: #e48364;
$dark-white: #f7f7f7;
$gray: #c2c2ca;
$black: #1a1917;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-weight: 500;
  letter-spacing: 0.1rem;
  font-size: 40px;
  margin: 0;
}

h1,
h2,
h3,
h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

header,
footer,
a {
  font-family: "Jost", sans-serif;
}

p {
  font-family: "Raleway", sans-serif;
}

.container {
  width: 100%;
  height: fit-content;
  min-height: 90vh;
}

.active {
  font-weight: 600;
}

//colors
$black: #1a1917;
$white: #ffffff;
$dark-white: #f7f7f7;
$blue: #2a81ac;

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 60px;
  }
}
